.Accordion {
	overflow: hidden; border-right-color: black; border-bottom-color: gray; border-left-color: gray; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
.AccordionPanel {
	margin: 0px; padding: 0px;
}
.AccordionPanelTab {
	margin: 0px; padding: 2px; border-top-color: black; border-bottom-color: gray; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; cursor: pointer; background-color: rgb(204, 204, 204); -moz-user-select: none; -khtml-user-select: none;
}
.AccordionPanelContent {
	margin: 0px; padding: 0px; height: 200px; overflow: auto;
}
.AccordionPanelOpen .AccordionPanelTab {
	background-color: rgb(238, 238, 238);
}
.AccordionPanelTabHover {
	color: rgb(85, 85, 85);
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color: rgb(85, 85, 85);
}
.AccordionFocused .AccordionPanelTab {
	background-color: rgb(51, 153, 255);
}
.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background-color: rgb(51, 204, 255);
}
